@media (prefers-color-scheme: light) {
    body{
        background-color: #ffffff;
    }

    #penname{
        color: #000000;
    }
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #1b1b1b;
    }

    #penname{
        color: #ffffff;
    }
}

body{
    text-align: center;
}

#profileimg{
    border-radius: 100%;
}

pre span.filename {
    color: #000000;
    background-color: #eeede7;
    padding: 2px 8px;
    display: block;
    overflow: hidden;
}

a{
    color: #000000
}