@media (prefers-color-scheme: light) {
    body{
        background-color: #ffffff;
    }

    #penname{
        color: #000000;
    }
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #1b1b1b;
    }

    #penname{
        color: #ffffff;
    }
}

body{
    text-align: center;
}

#profileimg{
    border-radius: 100%;
}